
/********
General 
*********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    margin: auto;
}

a:visited{
text-decoration: none;
color:#b1b1b1;
}

/********
 Utility 
 *********/

.text_grey{
    color:#b1b1b1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/******** 
Height 
********/


#footer_site,
.header_blog {
    
    height: 150px;

}


aside, 
.section_center{

    height: 500px;
}
 
/********
 Header 
 **********/

.logo_site{
    width: 13%;
    border-right: solid 1px #b1b1b1;
}

.logo_site > img{
    width: 100%;
    padding: 1rem;
}

.nav_site{
    margin-top: 2REM;
}

nav>a{
    padding: 0.3rem;
    margin-right: 0.5rem;
    text-decoration: none;
}


/*******
 Main 
 *******/

 .section_img{
     margin-top: 2rem;
     background-color: red;
 }

 .section_img>img{
     width: 100%;
     max-height: 100%;
     object-fit: cover;
     height: 600px;

 }

 .text_banner{
     color: white;
     width: 30%;
 }


 .header_blog{
     background-color: darkolivegreen;
     margin: 2rem 0;
 }

 .container_articles > aside{
     background-color: lawngreen;
     width: 25%;
 }

 .section_center{
     background-color: cornflowerblue;
     width: 40%;
     margin: 0 5%;
 }

 aside, .section_center{
     float: left;;
 }

 /* Footer */
 #footer_site{
     background-color: violet;
     margin-top: 2rem;
 }
